@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  //   box-shadow: 0 0 0 3px inset red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}

// .header {
//   background: linear-gradient(to right, rgb(239 246 255), rgb(0 0 0 / 0.95)),
//     url(./../../public/programming.png);
// }

.helloHand {
  display: inline-block;
  animation: hello 3s infinite;
  transform-origin: bottom center;
  transform: translateY(-20px);
}

@keyframes hello {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.glass {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

textarea {
  resize: none;
}
